body {
    background-color: rgb(42, 101, 105);
    width: 200px;
    padding: 10px;
    text-align: center;
    color:rgb(126, 224, 187);
}

h1 {
    font-size: 16px;
    margin-bottom: 10px;
}
 #timerDisplay {
    font-size: 16px;
    margin-bottom: 10px;
 }
 
 button {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
 }

 button:hover {
    color: rgb(138, 223, 174);
    background-color: rgb(74, 143, 103);
    box-shadow: 0 5px 30px rgba(145, 92, 182, .4);
  }

 input[type = text] {
    background-color: rgb(151, 216, 191);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px; 
    border: none;
 }